<html>
  <head>
    <title> Express dasar</title>
  </head>

  <body>
        <p>
            nama saya adalah : <%= nama %>
        </p>
        <p>
            Alamat : <%= alamat %>
        </p>
       
  </body>

</html>
